<%= form_for @call do |f| %>

  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <br>
  <%= f.label :calldetail %>
  <%= f.text_field :calldetail %>
  <br>
   <%= f.label :attachment %>
   <%= f.text_field :attachment %>
  <br>

  <%= f.label :organiser %>
  <%= f.text_field :organiser %>
  <br>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <br>
   <%= f.label :time %>
   <%= f.text_field :time %>
  <br>
  <br>
  <% @users.each do |user| %>
    <span><%= user.name %></span>
    <span><%= user.location %></span>
    <span><%= user.preferredstarttime.strftime('%H:%M') %></span>
    <span><%= user.preferredendtime.strftime('%H:%M') %></span>
    <%= check_box_tag 'call[user_ids][]', user.id, user.in?(@call.users) %>
    <br>
    <% end %>
  <%= f.submit %>

<% end %>
