<%= form_for @call do |f| %>

  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <br>
  <%= f.label :calldetail, 'Call Reference' %>
  <%= f.text_field :calldetail %>
  <br>
   <%= f.label :attachment %>
   <%= f.text_field :attachment %>
  <br>
  <%= f.label :organiser %>
  <%= f.text_field :organiser %>
  <br>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <br>
   <%= f.label :time %>
   <%= f.text_field :meet_time, :value => @call.lmeettime ? (@call.lmeettime.strftime('%H:%M')) : '',:required => true%>
  <br>
  <br>
  <table border="1">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Availability</th>
    <th>Required</th>
  </tr>
    <tr>
      <% @users.each do |user| %>
      <td><%= user.name %></td>
      <td><%= user.location %></td>
      <td><%= user.lstarttime.strftime('%H:%M') %> - <%= user.lendtime.strftime('%H:%M') %></td>
      <td class="checker"><%= check_box_tag 'call[user_ids][]', user.id, user.in?(@call.users) %></td>
    </tr>
    <% end %>
  </table>
<%= f.submit'Submit', :class => "small button" %>
<% end %>