<div class = 'detail'>
  <h2>Scheduled Calls</h2>
    <% if Call.all.empty? %>

    <% else %>
      <table border="1" class="width_hundred">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Organiser</th>
          <th>Subject</th>
          <th>Amend</th>
        </tr>
        <% @calls.each do |call| %>
          <tr>
            <td><%= call.date.strftime('%d:%m:%Y') %></td>
            <td><%= call.lmeettime.strftime('%H:%M') %></td>
            <td><%= call.organiser %></td>
            <td><%= call.subject %></td>
            <% if call.organiser == @auth.name %>
             <td><%=  link_to 'Edit', edit_call_path(call)%><%= link_to 'Delete', call, :method => :delete %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
</div>