<div class = 'detail'>
  <% @calls.each do |call| %>
    <ul class='item'>
      <li><%= call.owner %></li>
      <li><%= call.subject %></li>
      <li><%= call.description %></li>
      <hr>
    </ul>
    <!-- this goes to a form to show the edit fields -->
<%=  link_to 'Edit', edit_call_path(call)%>
<!-- This deletes the record without showing the data -->
<%= link_to 'delete', call, :method => :delete %>
  <% end %>
</div>