  <% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <!-- <form> -->
    <!-- <fieldset> -->
      <legend>Fieldset</legend>
        <%= form_for @user do |f| %>
          <div class="row">
            <div class="large-6 columns">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
          </div>
        <div class="row">
          <div class="large-4 columns">
              <%= f.label :password %>
              <%= f.password_field :password %>
          </div>
          <div class="large-4 columns">
            <%= f.label :password_confirmation%>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="large-4 columns">
              <%= f.label :location %>
              <%= f.text_field :location %>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :timezone %>
            <%= f.time_zone_select :timezone %>
          </div>
          <div class="large-4 columns">
            <%= f.label :preferredstarttime %>
            <%= f.text_field :preferredstarttime %>
          </div>
          <div class="large-4 columns">
            <%= f.label :preferredendtime %>
            <%= f.text_field :preferredendtime %>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="small-3 columns"></div>
        <!-- <span>  f.submit %> </span> -->
  <%= f.submit %>


<% end %>

