<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <br>
      <br>
      <%= f.text_field :name,placeholder: 'Name',:label => false%>
      <%= f.password_field :password,placeholder: 'Password',:label => false%>
      <%= f.password_field :password_confirmation,placeholder: 'Password Confirmation',:label => false %>
      <%= f.text_field :location,placeholder: 'Location',:label => false %>
      <div class="row">
        <div class="large-3 columns">
          <%= f.time_zone_select :timezone,nil,placeholder: 'Time Zone',:label => false%>
        </div>
      </div>
      <%= f.text_field :pref_start, :value => @user.lstarttime ? (@user.lstarttime.strftime('%H:%M')) : '',:required => true, placeholder: 'Preferred Start Time',:label => false%>
      <%= f.text_field :pref_end, :value => @user.lendtime ? (@user.lendtime.strftime('%H:%M')) : '',:required => true, placeholder: 'Preferred End Time',:label => false%>
      <%= f.text_field :email,placeholder: 'Email',:label => false %>
    </div>
  </div>
  <div class="large-5 columns">

  <%= f.submit'Submit', :class => 'button'%>
</div>
<% end %>