<h3> <%= @user.name %></h3>
show
<% @user.calls.each do |t| %>
  <section>
    <span><%= t.subject %></span>
    <span><%= t.description %></span>
    <span><%= t.date %></span>
    <span><%= t.time %></span>
    <!-- this goes to a form to show the edit fields -->
<%=  link_to 'Edit', edit_user_path(@user)%>
<!-- This deletes the record without showing the data -->
<%= link_to 'delete', @user, :method => :delete %>

    <hr>
  </section>
<% end %>