<h2> My Meetings </h2>
<div class = 'detail'>
  <table>
  <% @user.calls.each do |t| %>
    <tr class='item'>
    <td><%= t.date.strftime('%d:%m:%Y') %></td>
    <td><%= t.subject %></td>
    <td><%= t.description %></td>
    <td><%= t.organiser %></td>
    <td><%= t.time.strftime('%H:%M:%S') %></td>
    </tr>
  <% end %>
</div>