<div class = 'detail'>
  <% @attendees.each do |attendee| %>
    <ul class='item'>
      <li><%= attendee.call.subject %></li>
      <li><%= attendee.user.name %></li>
      <li><%= attendee.call.organiser %></li>
      <li><%= attendee.call.subject %></li>
      <li><%= attendee.meetingdate %></li>
      <li><%= attendee.accepted %></li>
    </ul>
    <!-- this goes to a form to show the edit fields -->
    <%=  link_to 'Edit', edit_attendee_path(attendee)%>
    <hr>

  <% end %>
</div>

