<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
      <div class="twelve columns">
        <h1 class='logo'>Meeting Point</h1>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="row">
          <div class="seven columns">
            <ul.right class="nav right">
              <% if @auth.present? %>
                <li><%= link_to 'Edit User', edit_users_path%></li>
                <li><%= link_to 'My Calls', user_path(@auth) %></li>
                <li><%= link_to 'Create Call', new_call_path%></li>
                <li><%= link_to 'Calls', calls_path%></li>
                <li><%= link_to('Logout '+ @auth.name, login_path, :method => :delete,:confirm => 'Really?')%></li>
              <% else %>
                <li><%= link_to('Create Account',new_user_path)%></li>
                <li><%= link_to('Login',login_path)%></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% if flash[:notice].present? %>
      <div class='row'>
        <div class='columns small-5 alert-box alert'>
          <%= flash[:notice] %>
        </div>
    <% end %>

    <div class="row">
      <div class="twelve columns main-content">
        <%= yield %>
      </div>
    </div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
